@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@include loader();
@include body-basics();
@include mobile-mods();
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.username {
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.username-main {
    @include display-type(flex, column, center, center);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: white;
    color: black;
    padding: 25px;
    border-radius: 10px;
}
.input-fields {
    @include display-type(flex, column, center, center);
    h3 {
        @include m-y(0px, 15px);
    }
    p {
        text-align: center;
    }
    input {
        padding: 15px;
    }
    button {
        @include m-y(15px, 15px);
        color: white;
        width: 100%;
        border: transparent;
        padding: 5px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 
        0 1px 2px #fff,
        0 -1px 1px #666,
        inset 0 -1px 1px rgba(0,0,0,0.5),
        inset 0 1px 1px rgba(255,255,255,0.8);
        background-color: rgb(255, 65, 97);
        transition: 250ms ease-in-out;
        &:hover {
            box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
        }
    }
}
.main-container {
    @include display-type(flex, row, center, center);
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 400px;
    background-color: white;
    border-right: 2px rgb(233, 233, 233) solid;
}
.sidebar-toggled {
    @include fade-in();
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
    border-right: 2px rgb(233, 233, 233) solid;
}
.sidebar-toggler {
    @include m-x(10px, 10px);
    @include m-y(10px, 10px);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: transparent;
    text-align: center;
    border: none;
    z-index: 200;
    color: rgba(0, 0, 0, 0.205);
    transition: 100ms ease-in-out;
    &:hover {
        color: black;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
}
.titlebar {
    padding: 25px;
    background-color: royalblue;
    color: white;
}
.id-box {
    @include display-type(flex, column, flex-end, center);
    width: 100%;
}
.id-main {
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 6px;
    color: rgb(0, 0, 0);
    font-size: 14px;
}
.user-id-section {
    font-family: 'Anonymous Pro', monospace;
}
.connected-users {
    @include display-type(flex, column, flex-start);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 2px;
        background-color: #f0f0f0;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #888;
    }
}
.user {
    @include display-type(flex, column);
    @include m-y(10px, 10px);
    width: 90%;
    text-align: center;
    padding: 14px;
    transition: 250ms ease-in-out;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    &:hover {
        background-color: #f0f0f0;
    }
}
.username-section {
    @include display-type(flex, row-reverse);
    font-family: 'Maven Pro', sans-serif;
    font-size: 23px;
}
.online-user {
    @include m-x(10px, 10px);
}
.online-indicator {
    @include m-y(5px, 0px);
    width: 6px;
    height: 6px;
    background: rgb(0, 167, 0);
    border-radius: 50%
}
.connected-titlebar {
    @include m-y(0px, 15px);
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 40px;
    font-family: 'Dongle', sans-serif;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    & > * {
        margin: 0px;
    }
}
.chatbox {
    @include fade-in-adv();
    @include display-type(flex, column);
    position: relative;
    height: 100%;
    width: 100%;
}
.chat-view {
    width: 100%;
    padding: 25px;
    background-color: white;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 3.5px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #888;
    }
}
.chat-inputs {
    width: 100%;
    form {
        display: flex;
        flex-direction: row;
        input {
            width: 100%;
            padding: 14px;
            border-radius: 0px;
        }
        button {
            padding: 5px;
            border: none;
            width: 130px;
            color: white;
            background: rgb(175,101,255);
            background: linear-gradient(90deg, rgba(175,101,255,1) 0%, rgba(255,145,223,1) 100%);
            font-size: 20px;
            font-weight: 600;
            box-shadow: rgba(255, 0, 170, 0.336) 0px 0px 8px 0px;
            transition: 250ms;
            &:hover {
                box-shadow: rgba(255, 79, 117, 0.3) 0px 0px 10px, rgba(255, 57, 206, 0.22) 0px 0px 10px;
            }
        }
    }
}
.message {
    @include m-y(55px, 55px);
    display: flex;
    flex-direction: column;
    small {
        margin: 0;
        text-align: end;
        color: rgba(0, 0, 0, 0.527);
    }
}
.id-container {
    text-align: center;
    padding: 10px;
    font-size: 22px;
}
.bubble {
    @include fade-in();
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    background: #f0f0f0;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    max-width: 55%;
    padding: 20px;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.bubble-2 {
    @include fade-in();
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    background: #f0f0f0;
    color: #000000;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    max-width: 55%;
    padding: 20px;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}


