@import url("https://fonts.googleapis.com/css2?family=Lato&family=Zen+Kaku+Gothic+Antique:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dongle&display=swap");
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes ldio-1wjzpatfjl7 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.ldio-1wjzpatfjl7 div {
  box-sizing: border-box !important;
}

.ldio-1wjzpatfjl7 > div {
  position: absolute;
  width: 142px;
  height: 142px;
  top: 29px;
  left: 29px;
  border-radius: 50%;
  border: 14px solid #000;
  border-color: #7188fe transparent #7188fe transparent;
  animation: ldio-1wjzpatfjl7 0.6289308176s linear infinite;
}

.ldio-1wjzpatfjl7 > div:nth-child(2) {
  border-color: transparent;
}

.ldio-1wjzpatfjl7 > div:nth-child(2) div {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.ldio-1wjzpatfjl7 > div:nth-child(2) div:before, .ldio-1wjzpatfjl7 > div:nth-child(2) div:after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  top: -14px;
  left: 50px;
  background: #7188fe;
  border-radius: 50%;
  box-shadow: 0 128px 0 0 #7188fe;
}

.ldio-1wjzpatfjl7 > div:nth-child(2) div:after {
  left: -14px;
  top: 50px;
  box-shadow: 128px 0 0 0 #7188fe;
}

.loadingio-spinner-dual-ring-bolf0tkuwgl {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: none;
}

.ldio-1wjzpatfjl7 {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
  /* see note above */
}

.ldio-1wjzpatfjl7 div {
  box-sizing: content-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 700px) {
  .username-main {
    width: 100% !important;
    height: 100%;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    transform: translate(0, 0) !important;
    border-radius: 0 !important;
  }

  .chatbox {
    width: 100% !important;
    height: 100% !important;
    position: relative !important;
    top: auto !important;
    left: auto !important;
    transform: translate(0, 0) !important;
  }

  .chat-view {
    height: 100% !important;
  }

  .bubble {
    max-width: 85% !important;
  }

  .bubble-2 {
    max-width: 85% !important;
  }

  .sidebar {
    display: none !important;
  }

  .sidebar-toggler {
    display: block !important;
  }
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.username {
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.username-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background-color: white;
  color: black;
  padding: 25px;
  border-radius: 10px;
}

.input-fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-fields h3 {
  margin-top: 0px;
  margin-bottom: 15px;
}
.input-fields p {
  text-align: center;
}
.input-fields input {
  padding: 15px;
}
.input-fields button {
  margin-top: 15px;
  margin-bottom: 15px;
  color: white;
  width: 100%;
  border: transparent;
  padding: 5px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 1px 2px #fff, 0 -1px 1px #666, inset 0 -1px 1px rgba(0, 0, 0, 0.5), inset 0 1px 1px rgba(255, 255, 255, 0.8);
  background-color: #ff4161;
  transition: 250ms ease-in-out;
}
.input-fields button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 800'%3E%3Cg %3E%3Ccircle fill='%23000000' cx='400' cy='400' r='600'/%3E%3Ccircle fill='%23230046' cx='400' cy='400' r='500'/%3E%3Ccircle fill='%232f0052' cx='400' cy='400' r='400'/%3E%3Ccircle fill='%233b075e' cx='400' cy='400' r='300'/%3E%3Ccircle fill='%2348156a' cx='400' cy='400' r='200'/%3E%3Ccircle fill='%23552277' cx='400' cy='400' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 400px;
  background-color: white;
  border-right: 2px #e9e9e9 solid;
}

.sidebar-toggled {
  animation: fade-in 250ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: white;
  border-right: 2px #e9e9e9 solid;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  25% {
    opacity: 25%;
    transform: translateX(-10px);
  }
  50% {
    opacity: 50%;
    transform: translateX(-5px);
  }
  75% {
    opacity: 75%;
    transform: translateX(-2.5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.sidebar-toggler {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: transparent;
  text-align: center;
  border: none;
  z-index: 200;
  color: rgba(0, 0, 0, 0.205);
  transition: 100ms ease-in-out;
}
.sidebar-toggler:hover {
  color: black;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.titlebar {
  padding: 25px;
  background-color: royalblue;
  color: white;
}

.id-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.id-main {
  width: 100%;
  background-color: #f0f0f0;
  padding: 6px;
  color: black;
  font-size: 14px;
}

.user-id-section {
  font-family: "Anonymous Pro", monospace;
}

.connected-users {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.connected-users::-webkit-scrollbar {
  width: 2px;
  background-color: #f0f0f0;
}
.connected-users::-webkit-scrollbar-thumb {
  background-color: #888;
}

.user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
  text-align: center;
  padding: 14px;
  transition: 250ms ease-in-out;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.user:hover {
  background-color: #f0f0f0;
}

.username-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  font-family: "Maven Pro", sans-serif;
  font-size: 23px;
}

.online-user {
  margin-left: 10px;
  margin-right: 10px;
}

.online-indicator {
  margin-top: 5px;
  margin-bottom: 0px;
  width: 6px;
  height: 6px;
  background: #00a700;
  border-radius: 50%;
}

.connected-titlebar {
  margin-top: 0px;
  margin-bottom: 15px;
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 40px;
  font-family: "Dongle", sans-serif;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.connected-titlebar > * {
  margin: 0px;
}

.chatbox {
  animation: f-i-a 300ms;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: 100%;
}
@keyframes f-i-a {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.chat-view {
  width: 100%;
  padding: 25px;
  background-color: white;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.chat-view::-webkit-scrollbar {
  width: 3.5px;
}
.chat-view::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #888;
}

.chat-inputs {
  width: 100%;
}
.chat-inputs form {
  display: flex;
  flex-direction: row;
}
.chat-inputs form input {
  width: 100%;
  padding: 14px;
  border-radius: 0px;
}
.chat-inputs form button {
  padding: 5px;
  border: none;
  width: 130px;
  color: white;
  background: #af65ff;
  background: linear-gradient(90deg, #af65ff 0%, #ff91df 100%);
  font-size: 20px;
  font-weight: 600;
  box-shadow: rgba(255, 0, 170, 0.336) 0px 0px 8px 0px;
  transition: 250ms;
}
.chat-inputs form button:hover {
  box-shadow: rgba(255, 79, 117, 0.3) 0px 0px 10px, rgba(255, 57, 206, 0.22) 0px 0px 10px;
}

.message {
  margin-top: 55px;
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
}
.message small {
  margin: 0;
  text-align: end;
  color: rgba(0, 0, 0, 0.527);
}

.id-container {
  text-align: center;
  padding: 10px;
  font-size: 22px;
}

.bubble {
  animation: fade-in 250ms;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  background: #f0f0f0;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  max-width: 55%;
  padding: 20px;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  25% {
    opacity: 25%;
    transform: translateX(-10px);
  }
  50% {
    opacity: 50%;
    transform: translateX(-5px);
  }
  75% {
    opacity: 75%;
    transform: translateX(-2.5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.bubble-2 {
  animation: fade-in 250ms;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  position: relative;
  background: #f0f0f0;
  color: #000000;
  font-family: "Lato", sans-serif;
  font-size: 17px;
  max-width: 55%;
  padding: 20px;
  margin: 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  25% {
    opacity: 25%;
    transform: translateX(-10px);
  }
  50% {
    opacity: 50%;
    transform: translateX(-5px);
  }
  75% {
    opacity: 75%;
    transform: translateX(-2.5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/*# sourceMappingURL=style.css.map */
